/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header { display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    height: 80px;
}

header span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8800ff;
}
header i {
    font-size: 2rem;
    color: #8800ff;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2, h3 {
    color: #8800ff;
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Style pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

table thead {
    background-color: #8800ff;
    color: white;
}

table th, table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



table th {
    text-transform: uppercase;
    font-size: 0.9rem;
}

table td {
    font-size: 0.9rem;
}
/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo i {
    font-size: 1.5em;
    color: #8800ff;
    margin-right: 10px;
}

.footer-logo span {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

.footer p {
    margin: 5px 0;
    font-size: 1em;
}

.footer a {
    color: #8800ff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}